html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font: 1.5em 'Aktiv Grotesk', sans-serif;
    line-height: 1.5em;
    letter-spacing: -.1rem;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

.favorites {
    transition: background 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
}

.favorites.highlight {
    background-color: #FDFD65;
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    -ms-transition: 0s;
}

.collections {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.collections li {
    /*display: inline;*/
}

.collection .tracks {
    margin-top: 1em;
}

.italic {
    font-style: italic;
}

.not-liked {
    color: #D0D0D0;
}

.liked {
    color: black;
}

.links {
    margin: 0 auto;
}

img {
    border-radius: 0.3em;
    vertical-align: baseline;
}

.alex {
    width: 10em;
    display: block;
    top: 25em;
    position: absolute;
    left: 50%;
    margin-left: -5em;
    margin-bottom: 1em;
}

li.link {
    display: inline;
    margin-right: 0.5em;
}

.track > * {
    /*margin-right: 0.5em;*/
}

.icon {
    display: inline;
    cursor: pointer;
}

.liked, .not-liked, .soundcloud, .score {
    position: absolute;
}

.liked, .not-liked {
    right: 3em;
    font-size: .9em;
    cursor: pointer;
}

.soundcloud {
    right: 1.4em;
}

.score {
    right: 4em;
}

hr {
    border: 0.2em solid #4d4d4d;
}

h1 {
    font-size: 6rem;
    font-weight: normal;
    text-align: center;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.controls {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.controls::-webkit-media-controls-enclosure {
    max-width: 100%;
}

.now-playing {
    font-size: 1rem;
    text-align: center;
}

button,
input[type="checkbox"] {
    outline: none;
}

.hidden {
    display: none;
}

.panels {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    margin-bottom: 1em;
}

.panels li {
    /*display: inline;*/
}

ul {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.tracks {
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    margin-top: 0;
}

.track {
    display: block;
    height: 30px;
    min-width: 11em;
    padding: 0 2px 5px 7px;
}

.track-name {
    width: 100%;
    float: left;
    cursor: pointer;
}

li {
    margin-right: 1em;
}

li > a {
    color: inherit;
    padding: 4px 7px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0.2em;
}

li a.selected,
li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

.link a:hover {
    border-color: transparent;
}

.bio {
    text-align: center;
}
