html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 5em 'Aktiv Grotesk', sans-serif;
    letter-spacing: -.1rem;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

img {
    width: 3.5em;
    display: block;
    margin: auto;
    border-radius: 0.3em;
    vertical-align: baseline;
}

hr {
    border: 5px solid #4d4d4d;
    margin: 0;
}

h1 {
    margin: 0.25em 0 0.25em 0;
    font-size: 8rem;
    font-weight: normal;
    text-align: center;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

li {
    margin: 0.5em;
}

li > a {
    color: inherit;
    padding: 8px 13px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0.2em;
}

li a.selected,
li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}
